body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat",sans-serif;
}

.header {
    width: 100%;
    height: 100px;
    background-color: aqua;
    float: left;
}

.nav {
    width: 10%;
    height: 80px;
    background-color: black;
    float: left;
    margin: 10px;
}

.nav h2{
    color: white;
    text-align: center;
}

.logo {
    width: 10%;
    height: 80px;
    background-color: black;
    float: left;
    margin: 10px;
    margin-left: 32%;
}

.logo h2{
    color: white;
    text-align: center;
}

.filter{
    width: 100%;
    height: auto;
    background-color: aqua;
    float: left;
}

.filter-con {
    width: 80%;
    height: auto;
    float: left;
    background-color: blue;
    margin-left: 10%;
}

.fifth {
    width: 20%;
    height: 70px;
    float: left;
    border: 0px 1px;
    border-color: black;
}

.fifth h2{
    margin-top: 5px;
    margin-bottom: 0%;
    text-align: center;
    border: 2px;
    border-top: 0px;
    border-bottom: 0px;
    border-color: black;
    border-style: solid;
}

.main {
    width: 100%;
    height: auto;
    background-color: brown;
    float: left;
}

.WL-title{
    text-align: center;
}

.divider{
    width: 100%;
    height 50px;
    background-color: burlywood;
    float: left;
}

.row{
    width: 80%;
    height: auto;
    margin-left: 10%;
    float: left;
}

.movie-con {
    width: 25%;
    height: 200px;
    background-color: aqua;
    float: left;
    margin: 4%;
    text-align: center;
}