body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: "Montserrat",sans-serif;
    color: white;
}

.outer-con{
    width: 100%;
    height: 100%;
    float: left;
    background-color: black;
}

.header{
    width: 100%;
    height: 60px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: black;
}

nav img {
    width: 100%;
    max-width: 75px;
    align-content: top;
    padding: 15px;
    
}

#navbar-items{
    margin-right: 20px;
    margin-top: 10px;
}

.navigation-buttons li {
    color: white;
    text-decoration: none;
    list-style: none;
    font-size: 12px;
    float: right;
    padding: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

.navigation-buttons a {
    color: white;
    text-decoration: none;
    list-style: none;
    font-size: 12px;
}


li.current{
    color: gray;
}


#video-con-xs{
    height: 500px;
    float: left;
    background-color: grey;
}

#video-con-md{
    height: 500px;
    background-color: grey;
}

#video-con-lg{
    height: 500px;
}

.add-share-con{
    width: 100%;
    height: 100px;
    float: left;
}

.watchlist-xs{
    width: 50px;
    height: 50px;
    margin-top: 40px;
    margin-left: 70px;
    background-image: url(../img/add-icon.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
}

.share-btn{
    width: 50px;
    height: 50px;
    margin-top: 40px;
    margin-right: 70px;
    float: right;
}

.space-1{
    height: 150px;
}

.space-2{
    height: 63px;
}

.space-3{
    height: 50px;
}

.space-4{
    height: 50px;
}

.space-6{
    height: 230px;
}

.space-5{
    height: 50px;
}

.space-7{
    height: 280px;
}

.space-8{
    height: 54px;
}

.spacer{
    height: 50px;
}

.title{
    float: left;
}

.movie-con{
    height: 280px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
}

.movie-con-1{
    height: 280px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
}

.movie-con-2{
    height: 280px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
}

.movie-con-3{
    height: 280px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
}

.movie-con-4{
    height: 280px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
}

.movie-con-5{
    height: 280px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
}

.movie-con-md{
    height: 280px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
}

.watchlist{
    height: 54px;
    background-image: url(../img/add-to-watchlist-btn.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
}

.movie-title{
    height: auto;
    text-align: center;
    float:left;
}

.movie-type{
    height: auto;
    float: left;
    color: dimgray;
}

.rating-title{
    height: 50px;
    float: left;
    text-align: center;
}

.rating{
    height: 50px;
    text-align: center;
    float: left;
}

.movie-info-title{
    height: 50px;
    text-align: center;
}

.movie-info{
    height: 50px;
    text-align: center;
}

.movie-description{
    height: auto;
    margin-top: 40px;
    text-align: center;
    float: left
}

.related-movies{
    height: 50px;
    float: left;
}


footer{
    width: 100%;
    height: 40px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: black;
    display: block;
    bottom: 0;
}


.column-footer{
    text-align: center;
}

.column-footer p{
    font-size: 10px;
    margin-top: 15px;
}

.social-media-icons{
    float: right;
}

.pinterest {
    float: right;
}

.instagram {
    float: right;
}

.facebook {
    float: right;
}

.twitter {
    float: right;
}

.pinterest img{
    float: right;
    height: 40px;
    padding: 7px;
}

.instagram img{
    float: right;
    height: 40px;
    padding: 7px;
}

.facebook img{
    float: right;
    height: 40px;
    padding: 7px;
}

.twitter img{
    float: right;
    height: 40px;
    padding: 7px;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #101010;
    margin-right: 20px;
    margin-top: 5px;
}

.third{
    width: 33.33333%;
    float: left;
}

.col-centered{
    display: flex;
    align-items: center;
    justify-content: center;

}