body{
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat",sans-serif;
}

.outer-con{
    width: 100%;
    height: 100%;
    float: left;
}

.header{
    width: 100%;
    height: 60px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: black;
}

nav img {
    width: 100%;
    max-width: 75px;
    align-content: top;
    padding: 15px;
    
}

#navbar-items{
    margin-right: 20px;
    margin-top: 10px;
}

.navigation-buttons li {
    color: white;
    text-decoration: none;
    list-style: none;
    font-size: 12px;
    float: right;
    padding: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

.navigation-buttons a {
    color: white;
    text-decoration: none;
    list-style: none;
    font-size: 12px;
}


li.current{
    color: gray;
}


.video{
    background-color: grey;
}

.add-share-con{
    width: 100%;
    height: 100px;
    float: left;
}

.add-btn{
    width: 50px;
    height: 50px;
    margin-top: 40px;
    margin-left: 70px;
    background-image: url(../img/add-icon.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
}

.share-btn{
    width: 50px;
    height: 50px;
    margin-top: 40px;
    margin-right: 70px;
    background-image: url(../img/share-icon.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    float: right;
}

.movie-title{
    width: 400px;
    height: auto;
    margin-left: 290px;
    text-align: center;
    float: left
}

.movie-type{
    width: 500px;
    height: auto;
    margin-left: 275px;
    float: left;
    color: dimgray;
}

.star-rating{
    width: 600px;
    height: 50px;
    background-image: url(../img/rating.png);
    float: left;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 190px;
    margin-top: 20px;
}

.movie-info-box{
    width: 20%;
    height: 140px;
    float: left;
}

.movie-info-box h2{
    text-align: center;
    margin-top: 40px;
}

.movie-info-box h1{
    text-align: center;
}

.movie-description{
    width: 850px;
    height: auto;
    margin-top: 40px;
    margin-left: 57px;
    text-align: center;
    float: left
}