body{
    background-color: black;

}
.outer-con{
    width: 100%;
    height: 100vh;
    background-image: url(../img/astronomy-black-wallpaper-constellation-2150.jpg);
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);

}
.overlay{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url(../img/hero-gradient.png);

}
.logo-1{
  margin-top: 30%;
}


.accordion {
  
    box-shadow: 0px 75px 35px -55px rgba(10, 30, 65, 0.6);
    font-family: Arial, Helvetica, sans-serif;
    border-color: #505050;
    border-style: solid;
    border-width: 0px;
    border-radius: 8px;
    margin: 0 auto;
    height: 100vh;
    width: 100%;
}

.accordion > ul > li,
.accordion-title,
.accordion-content,
.accordion-separator {
    float: left;
    
}

.accordion > ul > li {
   
    margin-right: -700px;
    margin-bottom: -0px;
}
.accordion-select{
    background-color: black;
}
.accordion-select:checked ~ 
.accordion-separator {
    margin-right: 700px;
    margin-bottom: 0px;
}

.accordion-title,
.accordion-select  {
    background-color:black;
    color: #ffffff;
    width: 200px;
    height: 100vh;
    font-size: 15px;
    text-align: center;
    
}


.accordion-select:hover .accordion-title,
.accordion-select:checked .accordion-title {
    background-color: #008384;
}


.accordion-content {
    color: #f5f2f0;
    height: 100vh;
    width: 644px;
    padding: 28px;
}

.accordion-title,
.accordion-select:checked ~ .accordion-content {
    margin-right: 1px;
    margin-bottom: 1px;
}

.accordion > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}

.accordion > ul > li,
.accordion-title {
    position: relative;
}

.accordion-select {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 1;
}

.accordion-title span {
    display: block;
    position: absolute;
    bottom: 0px;
    width: 100%;
    white-space: nowrap;
}

.accordion-content {
    position: relative;
    overflow: auto;
}

.accordion-separator {
    transition: margin 0.3s ease 0.1s;
    -o-transition: margin 0.3s ease 0.1s;
    -moz-transition: margin 0.3s ease 0.1s;
    -webkit-transition: margin 0.3s ease 0.1s;
}
.para-con-1{
    margin-top: 20%;
    align-content: center;
    text-align: center;
}
h3{
    margin-top: 500px;
}